Evaluating the Poisson distribution

Computing P ( k ; λ )  for given k k and λ is a trivial task that can be accomplished by using the standard definition of P ( k ; λ )  in terms of exponential, power, and factorial functions. However, the conventional definition of the Poisson distribution contains two terms that can easily overflow on computers: λ**k and k!. The fraction of λk to k! can also produce a rounding error that is very large compared to e**−λ, and therefore give an erroneous result. For numerical stability the Poisson probability mass function should therefore be evaluated as

    f ( k ; λ ) = exp ⁡ [ k ln ⁡ λ − λ − ln ⁡ Γ ( k + 1 ) ] , 
    
which is mathematically equivalent but numerically stable. The natural logarithm of the Gamma function can be obtained using the lgamma function in the C standard library (C99 version) or R, the gammaln function in MATLAB or SciPy, or the log_gamma function in Fortran 2008 and later.

https://en.wikipedia.org/wiki/Poisson_distribution

In [22]:
import pandas as pd
import mpmath

In [5]:
df = pd.read_csv('data.csv')

In [6]:
df

      Month  Posts Total  Posts Growth  Views  Views Growth
0   2016 10            0             0      2           236
1   2016 11            4             4    218           454
2   2016 12            2             6    191           645
3   2017 01            0             6      3           648
4   2017 02            0             6     16           664
..      ...          ...           ...    ...           ...
79  2023 05           25          1975   6195       1329937
80  2023 06           11          1986   9585       1339522
81  2023 07           18          2004  27490       1367012
82  2023 08            5          2009   9533       1376545
83  2023 09            7          2016  28291       1404836

[84 rows x 5 columns]

In [7]:
lm = df['Views'].mean()

In [8]:
lm

16721.45238095238

In [46]:
k_list = np.arange(15000, 18000, 100)

In [47]:
import math
def get_poisson_probability(lm, k):
    # ret = math.pow(lm, k) * math.pow(math.e, -lm) / math.factorial(k)
    
    # exp⁡ [ k ln λ − λ − ln ⁡ Γ ( k + 1 ) ]
    
    ret = mpmath.exp(k * math.log(lm) - lm - mpmath.log(mpmath.gamma(k + 1)))
    
    return ret

In [50]:
for i in k_list:
    print(str(i) + " " + str(round(get_poisson_probability(lm, i), 5)))

15000 0.0
15100 0.0
15200 0.0
15300 0.0
15400 0.0
15500 0.0
15600 0.0
15700 0.0
15800 0.0
15900 0.0
16000 0.0
16100 0.0
16200 0.0
16300 1e-05
16400 0.00014
16500 0.00071
16600 0.00199
16700 0.00304
16800 0.00256
16900 0.00119
17000 0.0003
17100 4e-05
17200 0.0
17300 0.0
17400 0.0
17500 0.0
17600 0.0
17700 0.0
17800 0.0
17900 0.0