In [37]:
import pandas as pd

In [38]:
df = pd.read_excel('daily page views - blogger - 6M - 29 Sep 2023.xlsx')

In [39]:
df

          Date  Page Views
0   2023-03-31         135
1   2023-04-01         112
2   2023-04-02         118
3   2023-04-03         305
4   2023-04-04         121
..         ...         ...
178 2023-09-25         649
179 2023-09-26        1300
180 2023-09-27         439
181 2023-09-28         380
182 2023-09-29         101

[183 rows x 2 columns]

In [41]:
df[df['Date'] == '2023-Jul-26']

          Date  Page Views
117 2023-07-26        7491

In [42]:
lm = df['Page Views'].mean()

In [43]:
lm

471.30054644808746

In [44]:
k_list = [100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 1100]

In [45]:
import math
def get_poisson_probability(lm, k):
    ret = math.pow(lm, k) * math.pow(math.e, -lm) / math.factorial(k)
    return ret

In [46]:
for i in k_list:
    print(str(i) + " " + str(get_poisson_probability(lm, i)))

100 4.748583017943415e-96

OverflowError: math range error

In [47]:
import numpy as np
for k in k_list:
    print(math.pow(lm, k))
    print(math.pow(math.e, -lm))
    print(math.factorial(k))
    print(math.pow(lm, k) * math.pow(math.e, -lm) / math.factorial(k))

2.13694984948548e+267
2.0738309880914823e-205
93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000
4.748583017943415e-96

OverflowError: math range error